*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TheYearofTheCamel-Bold';
    src: url('/static/font/TheYearofTheCamel-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    /* font-family: "Amiri", serif; */
    font-family: 'TheYearofTheCamel-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    /* background-color: rgb(6, 21, 4); */
    /* background-image: url('/static/images/Riyadh.png');
    background-size: cover;
    background-repeat: no-repeat; */
    /* background: linear-gradient(-45deg, #0b5d3b, #0f2f22, #145a32, #081c15); */
    /* background: linear-gradient(135deg, #0b3d2e 0%, #145a32 25%, #1f7a4c 50%, #d4af37 75%, #f4e4a6 100%); */
    background: linear-gradient(135deg,#faf8f2, #f1f8f4, #e6f4ec,#f3ead2, #fffaf0);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}
body.dark-mode {
    /* background: linear-gradient(135deg,#000000, #081c15, #000000, #000000, #000000); */
    background: linear-gradient(135deg,
                #020d09,
                #041a14,
                #06251d,
                #0b3d2e,
                #020d09);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}
@keyframes body  {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
@keyframes dark-mode {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* nav  */
.custom-navbar {
    background: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 999;

    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: white !important;
    font-weight: 600;
    transition: 0.3s;
}
.custom-navbar .nav-link:hover {
    color:#0b5d3b !important;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}
.navbar-toggler-icon {
    filter: invert(1);
}
.navbar-toggler-icon {
    filter: invert(1);
}
/* End nav  */

/* home page slider */
/* slider */
.slider{
    position: relative;
    width:100%;
    overflow: hidden;
    padding: 0 0 20px 0;
    /* background: linear-gradient(-45deg, #0b5d3b, #0f2f22, #145a32, #081c15); */
    /* background: linear-gradient(-45deg, #063220, #000000, #1c3326, #081c15); */
    background: linear-gradient(-45deg,
    #020d09 0%,
    #041a14 20%,
    #0b3d2e 40%,
    #1b5a43 65%,
    #2f8a63 85%,
    #c6a437 100%);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dark-mode .slider {
    background: linear-gradient(-45deg,
                #020d09 0%,
                #041a14 25%,
                #06251d 50%,
                #0b3d2e 75%,
                #020d09 100%);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}
/* end slider  */
.home_page_title{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    /* margin: 40px auto 20px; */
    color: #0b5d3b;
}
/* ball-icon  */
.balls-icon{
    position: absolute;
    top :20px;
    margin-top: 40px;
    left: 0;
    display: flex;
    gap: 200px;
    width: max-content;
    opacity: 0.1;
    animation: moveBalls 25s linear infinite;
    /* opacity: 0.08; */
    z-index: 0;
}
.ball {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    flex-shrink: 0;
    /* opacity: 0.2; */
}
.white {
    background-color: white;
}
.green {
    background-color: #0b5d3b;
    /* background-color: #22c55e; */
}
.ball:nth-child(2n){
    width: 30px;
    height: 30px;
    animation-delay: 1s;
}
.ball:nth-child(3n){
    opacity: 0.9;
    animation-delay: 2s;
}
@keyframes moveBalls {
    0% {
            transform: translateX(0) ;
        }
    
        100% {
            transform: translateX(-50%) ;
        }
}

 /* End ball-icon   */
 /* slider-header  */
 @keyframes glowText {
     0% {
         opacity: 0.6;
         text-shadow: 0 0 5px #fff;
     }

     50% {
         opacity: 1;
         text-shadow:
             0 0 10px #fff,
             0 0 20px #0b5d3b ,
             0 0 30px #0b5d3b;
     }

     100% {
         opacity: 0.6;
         text-shadow: 0 0 5px #fff;
     }
 }
.slider-header {
    text-align: center;
    padding: 20px 20px 35px;
    color: white;
    position: relative;
    z-index: 2;
    animation: glowText 3.5s ease-in-out infinite;
    font-weight: 800;
    letter-spacing: 1px;
    
}

.slider-header .home-title {
    font-size: 80px;
    font-weight: 800;
    margin-top: 70px;
    margin-bottom:40px;
    /* font-family: 'Amiri', sans-serif; */
}
.slider-header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    /* font-family: 'Amiri', sans-serif; */
}
 /* End slider-header  */

 /* slides */
.slides{
    position: relative;
    z-index: 1;
    display: flex;
    width: 200%;
    animation: slide 25s infinite linear;
    gap: 28px;
    /* background-image: url('/static/images_and_videos/home-page/image.png'); */
    

}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
    color: white;
    padding: 8px;
    gap: 5px;
}
.slide img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    margin-bottom: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.slide h3{
    margin:0;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.slide img:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

@keyframes slide{
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* End slides   */

/* home-content  */
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 40px auto;
}
.home-content img {
    width: 80%;
    height: 40vh;
    object-fit: cover;
    display: block;
}
.riyadh-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.intro-saudi {
    width: 80%;
    text-align: center;
    /* margin: 20px auto; */
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 20px 35px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.5;
}
.title-saudi{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    color: black;
}
/*  End home-content  */

/* container my-5 */
.card-wrapper {
    /* padding: 2px; */
    border-radius: 20px;
    background: transparent;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
    transition: 0.3s;
    height: 100%;
}
.card-wrapper2 {
    /* padding: 2px; */
    border-radius: 20px;
    background: transparent;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
    border: 4px solid transparent;
    background:
            linear-gradient(#ffffff, #ffffff) padding-box,
                linear-gradient(270deg,
                    #0b5d3b,
                    #22c55e,
                    #c6a437,
                    #0b5d3b) border-box;
    transition: 0.3s;
    height: 100%;
    background-size: 100% 100%, 400% 400%;
    animation: borderMove 6s linear infinite;
}
.dark-mode .card-wrapper2 {
    background:
            linear-gradient(#041a14, #041a14) padding-box,
            linear-gradient(270deg,
                #1b5a43,
                #22c55e,
                #c6a437,
                #1b5a43) border-box;
    background-size: 100% 100%, 400% 400%;
    animation: borderMove 6s linear infinite;
}
.card-wrapper:hover {
    border-radius: 20px;
    border: 4px solid transparent;

    background:
        linear-gradient(#ffffff, #ffffff) padding-box,
            linear-gradient(270deg,
                #0b5d3b,
                #22c55e,
                #c6a437,
                #0b5d3b) border-box;
    background-size: 100% 100%, 400% 400%;
    animation: borderMove 6s linear infinite;
}
.dark-mode .card-wrapper:hover {
    border-radius: 20px;
    border: 4px solid transparent;

    background:
            linear-gradient(#041a14, #041a14) padding-box,
            linear-gradient(270deg,
                #1b5a43,
                #22c55e,
                #86efac,
                #1b5a43) border-box;
    background-size: 100% 100%, 400% 400%;
    animation: borderMove 6s linear infinite;
}
.card {
    height: 100%;
    border: none;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    background-color: white;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
    flex-direction: column;
    /* transition: transform 0.3s ease , box-shadow 0.3s ease; */
}

.dark-mode .card {
    background-color: #041a14;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 27px;
    color: #0b5d3b;
    font-weight: 700;
}
.dark-mode .card-title {
    color: white;
}

.card-text {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
}
/* .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
} */
@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.btn-primary {
    background-color: #0b5d3b;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}


.btn-primary:hover {
    background-color: #09492f;
}

.btn-success {
    background-color: #0b5d3b;
    border: none;
}
.container h2{
    font-size: 36px;
    font-weight: 700;
    color: #a7f3d0;
    margin-bottom: 20px;
    border-right: 4px solid #22c55e;
    padding-right: 10px;
    margin-bottom: 30px;
    color:#0b5d3b;
}
.dark-mode .container h2 {
    color: white;
}
/* End container my-5 */

/* file riyadh-page  */
.card.text-bg-dark {
    position: relative;
    border: none;
    border-radius: 25px;
    overflow: hidden;
    margin: 60px auto;
    max-width: 95%;
    height: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* الصورة */
.card.text-bg-dark .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.75);
}

/* طبقة شفافة فوق الصورة */
.card.text-bg-dark::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.65));
    z-index: 1;
}

/* محتوى النص */
.card.text-bg-dark .card-img-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 60px;
    color: white;
}

/* العنوان */
.card.text-bg-dark .card-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* النص */
.card.text-bg-dark .card-text {
    font-size: 20px;
    line-height: 2;
    max-width: 1000px;
    margin: 0 auto;
}

/* phone */
@media (max-width: 768px) {
    .card.text-bg-dark {
        height: auto;
        min-height: 500px;
    }

    .card.text-bg-dark .card-img-overlay {
        padding: 30px 20px;
    }

    .card.text-bg-dark .card-title {
        font-size: 30px;
    }

    .card.text-bg-dark .card-text {
        font-size: 16px;
        line-height: 1.8;
    }
}
footer{
    text-align: center;
    padding: 20px 0;
    background-color: #0b5d3b;
    color: white;
}
.object-fit-cover {
    object-fit: cover;
}

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card-body {
    flex: 1;
}