{% extends 'base.html' %}
{% block content %}

<section class="page-hero simple-hero">
    <div class="page-hero-inner">
        <h1>تواصل معنا</h1>
        <p> </p>
    </div>
</section>

<section class="content-section">
    <div class="login-box">
        <input type="text" placeholder="الاسم الكامل">
        <input type="email" placeholder="البريد الإلكتروني">
        <textarea rows="5" placeholder="رسالتك"></textarea>
        <button class="primary-btn">إرسال</button>
    </div>
</section>

{% endblock %}}