{% extends 'base.html' %}

{% block content %}

<section class="page-hero simple-hero">
    <div class="page-hero-inner">
        <h1>المهرجانات والفعاليات</h1>
        <p>تعرف على أبرز مهرجانات الإبل في المملكة العربية السعودية</p>
    </div>
</section>

<section class="stats-section">
    <div class="stats-grid">

        <div class="stat-box">
            <h3>+50</h3>
            <p>مليون ريال جوائز</p>
        </div>

        <div class="stat-box">
            <h3>+100K</h3>
            <p>عدد الزوار سنويًا</p>
        </div>

        <div class="stat-box">
            <h3>+3000</h3>
            <p>مشارك من داخل وخارج المملكة</p>
        </div>

    </div>
</section>

<section class="content-section">
    <div class="video-grid">

        <!-- مهرجان الملك عبدالعزيز -->
        <div class="video-card">
            <h3>مهرجان الملك عبدالعزيز للإبل</h3>
            <p>
                يُعد أكبر مهرجان للإبل في العالم، ويقام سنوياً في الصياهد،
                ويجمع بين مسابقات المزاين والأنشطة الثقافية.
            </p>

            <div class="video-thumb">
    <video src="https://res.cloudinary.com/dd9tdahsd/video/upload/v1776168898/WhatsApp_Video_2026-04-14_at_2.58.01_PM_sffkys.mp4" muted></video>
    <span onclick="openVideo('https://res.cloudinary.com/dd9tdahsd/video/upload/v1776168898/WhatsApp_Video_2026-04-14_at_2.58.01_PM_sffkys.mp4')">▶️</span>
</div>
        </div>

        <!-- ولي العهد -->
        <div class="video-card">
            <h3>مهرجان ولي العهد للهجن</h3>
            <p>
                من أهم سباقات الهجن في المملكة ويعكس التطور الحديث
                في هذه الرياضة التراثية.
            </p>

            <div class="video-thumb">
    <video src="https://res.cloudinary.com/dd9tdahsd/video/upload/v1776168148/WhatsApp_Video_2026-04-14_at_2.51.36_PM_u3f2o9.mp4" muted></video>
    <span onclick="openVideo('https://res.cloudinary.com/dd9tdahsd/video/upload/v1776168148/WhatsApp_Video_2026-04-14_at_2.51.36_PM_u3f2o9.mp4')">▶️</span>
</div>
        </div>

        <!-- العلا -->
        <div class="video-card">
            <h3>كأس العلا للهجن</h3>
            <p>
                حدث يجمع بين التراث والسياحة ويعكس العلاقة
                بين الإبل والتاريخ.
            </p>

            <div class="video-thumb">
    <video src="https://res.cloudinary.com/dd9tdahsd/video/upload/v1776166761/WhatsApp_Video_2026-04-14_at_2.37.59_PM_bagb7z.mp4" muted></video>
    <span onclick="openVideo('https://res.cloudinary.com/dd9tdahsd/video/upload/v1776166761/WhatsApp_Video_2026-04-14_at_2.37.59_PM_bagb7z.mp4')">▶️</span>
</div>
        </div>

    </div>
</section>

<!-- POPUP -->
<div id="videoModal" class="video-modal">
    <div class="video-box">
        <span onclick="closeVideo()">✕</span>
        <video id="videoFrame" controls></video>
    </div>
</div>
<div class="page-nav">
    <a href="/impact/" class="primary-btn">السابق</a>
    <a href="/stories/" class="primary-btn">التالي</a>
</div>

{% endblock %}