{% extends 'base.html' %}
{% block content %}

<section class="page-hero simple-hero">
    <div class="page-hero-inner">
        <h1>تسجيل الدخول</h1>
        <p> </p>
        <p class="auth-switch">
    ليس لديك حساب؟ <span>إنشاء حساب جديد</span>
</p>
    </div>
</section>

<section class="content-section">
    <div class="login-box">
        <input type="text" placeholder="اسم المستخدم">
        <input type="password" placeholder="كلمة المرور">
        <button class="primary-btn">دخول</button>
    </div>
</section>

{% endblock %}