{% extends 'base.html' %}
{% block content %}

<section class="timeline-page">
    <div class="timeline-wrapper">
        <div class="timeline">

            {% for item in timeline %}
            <article class="timeline-item {% cycle 'right' 'left' %}">
                
                <div class="timeline-card">
                    <span class="timeline-year">{{ item.year }}</span>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.text }}</p>
                </div>

            </article>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}