{% extends 'main/base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{%static 'css/style-pages.css'%}">
{%endblock%}

{% block title %}Traditional Clothing{%endblock%}

{%block header%}

<div class="hero">
    <img src="{% static 'images/header-clothes.jpg' %}" class="back-img">

    <div class="title-header">
        <h1>Traditional Clothing</h1>
        <p>Discover the elegance of Saudi traditional attire</p>
    </div>
</div>

{%endblock%}

{% block content%}
<section class="box-intro">
  <div class="intro">
    <h2>Saudi Traditional Clothing</h2>
    <p>  
        Saudi traditional clothing reflects the rich cultural heritage and regional diversity of the Kingdom. Each garment carries unique designs,
        fabrics, and details that have been passed down through generations, representing identity, tradition, and elegance.
   </p>
  </div>
  </section>

<div class="heritage">

  <!-- Women -->
  <h2 class="section-title">Women Traditional Clothing</h2>

  <!-- Southern Region -->
  <h3>Southern Region</h3>
  <p>
    Southern women's clothing is known for its rich colors, heavy embroidery,
    and strong cultural identity.
  </p>

  <div class="images-scroll">
    <img src="{%static 'images/clothes/south-women1.jpg'%}">
    <img src="{%static 'images/clothes/south-women2.jpg'%}">
    <img src="{%static 'images/clothes/south-women3.jpg'%}">
    <img src="{%static 'images/clothes/south-women4.jpg'%}">
    <img src="{%static 'images/clothes/south-women5.jpg'%}">
  </div>

  <a href="#south-women" class="open-btn">View Details</a>

        <div id="south-women" class="overlay">
          <div class="popup">

            <a href="#table" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2> Southern Region (Women)</h2>
            
            <p>
            Women's traditional clothing in the southern region is characterized by bold colors and rich embroidery. Black garments are often decorated with colorful geometric patterns, especially on the chest and sleeves, along with traditional silver belts and accessories that enhance the cultural look.
            Some outfits also feature wide sleeves and flowing designs, combined with head coverings and traditional hats, reflecting the rich cultural identity and diversity of the southern region
            </p>
            
          </div>
        </div>
  


  <!-- Najd Region -->
  <h3>Najd Region</h3>
  <p>
    Najdi clothing is simple and elegant, often featuring dark colors
    with subtle embroidery.
  </p>

  <div class="images-scroll">
    <img src="{%static 'images/clothes/najd1.jpg'%}">
    <img src="{%static 'images/clothes/najd2.jpg'%}">
  </div>

  <a href="#najd-women" class="open-btn">View Details</a>


  <!-- Men -->
  <h2 class="section-title">Men Traditional Clothing</h2>

  <!-- Southern Region -->
  <h3>Southern Region</h3>
  <p>
    Southern men's clothing reflects strength and tradition, often including
    decorative belts and unique regional elements.
  </p>

  <div class="images-scroll">
    <img src="{%static 'images/clothes/south-men1.jpg'%}">
    <img src="{%static 'images/clothes/south-men2.jpg'%}">
  </div>

  <a href="#south-men" class="open-btn">View Details</a>

</div>

{% endblock %}