{%extends 'main/base.html'%}
{% load i18n %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{%static 'css/style-pages.css'%}">
{%endblock%}

{% block title %}{% trans "Traditional Games" %}{%endblock%}

{%block header%}

<div class="hero">
    <img src="{% static 'images/games/gam1.jpg' %}" class="back-img">

    <div class="title-header">
        <h1>{% trans "Traditional Games" %}</h1>
        <p>{% trans "Discover the fun and heritage of Saudi traditional games" %}</p>
    </div>
</div>

{%endblock%}

{% block content%}
<section class="box-intro">
  <div class="intro">
    <h2>{% trans "Saudi Traditional Games" %}</h2>
    <p>  
        {% trans "Traditional games in Saudi Arabia show how people enjoyed simple and meaningful moments together. These games were not only for fun, but also helped build friendships and strong social bonds." %}
   </p>
  </div>
</section>

<div class="heritage">
  <h3 id="indoor">{% trans "Indoor Games" %}</h3>

  <div class="images-scroll">

    <div class="heritage-card">
      <img src="{% static 'images/games/Taq-Taq-Taqiyah.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Taq Taq Taqiyah" %}</h2>
        <p>{% trans "A group game where children sit in a circle and pass a cap quickly" %}</p>
        <a href="#popup-taq" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-taq" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Taq Taq Taqiyah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A fun and fast-paced traditional game that relies on attention and quick reaction. Children sit in a circle while one player walks around them holding a “taqiyah” (or any small cloth). The player secretly drops it behind someone. If the chosen player notices it, they must quickly stand up and chase the first player before they take their spot." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "5 to 15 players (the more, the more fun)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Hadarijah.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Hadarijah" %}</h2>
        <p>{% trans "A group game where children place their hands and one counts" %}</p>
        <a href="#popup-Hadarijah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Hadarijah" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Hadarijah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A traditional Saudi children's game based on rhythm and chanting. Players place their hands on the ground while one player moves their finger across them, reciting a chant. The game is fun and helps develop language and interaction skills." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "3 or more players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Madud.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Madud" %}</h2>
        <p>{% trans "A girls' game using simple handmade dolls" %}</p>
        <a href="#popup-Al-Madud" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Madud" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Madud" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A traditional Saudi girls' game where players create handmade dolls using simple materials like fabric, beads, and sticks. The dolls are used to act out social and family roles, encouraging imagination and role-playing." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "1 or more players (can be played individually or in groups)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for girls (especially ages 12 and under)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Zagtah.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Zagtah" %}</h2>
        <p>{% trans "A five-stone skill game" %}</p>
        <a href="#popup-Al-Zagtah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Zagtah" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Zagtah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A traditional game played with five small smooth stones. The player throws one stone into the air and quickly picks up the others from the ground before catching the falling stone. It requires focus, speed, and coordination." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "1 or more players (can be played individually or in groups)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Masaqeel.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Masaqeel" %}</h2>
        <p>{% trans "A marble game based on skill" %}</p>
        <a href="#popup-Al-Masaqeel" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Masaqeel" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Masaqeel" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A traditional game played with small colorful glass marbles. Players compete by aiming and hitting their opponent's marbles to win them, making the game all about accuracy and skill." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 or more players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Kabush.png' %}">
      <div class="card-content">
        <h2>{% trans "Al-Kabush" %}</h2>
        <p>{% trans "Throwing a stone to win marbles" %}</p>
        <a href="#popup-Al-Kabush" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Kabush" class="overlay">
          <div class="popup">

            <a href="#indoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Kabush" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A traditional game popular in western Saudi Arabia, especially in Makkah. Players place small marbles inside a drawn circle, then take turns throwing a smooth stone from a distance to knock the marbles outside the circle and win them. The game requires accuracy and focus." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 or more players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Outdoor Games -->
<div class="heritage">
  <h3 id="outdoor">{% trans "Outdoor Games" %}</h3>

  <div class="images-scroll">

    <div class="heritage-card">
      <img src="{% static 'images/games/Tire Rolling Game.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Danana" %}</h2>
        <p>{% trans "Rolling a tire while running" %}</p>
        <a href="#popup-Al-Danana" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Danana" class="overlay">
          <div class="popup">

            <a href="#outdoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Danana" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
             {% trans "A traditional outdoor game where players roll a tire using a stick and try to keep it moving without falling. The game focuses on balance, control, and coordination." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "1 or more players (can be played individually or in groups)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Hopscotch.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Hajlah" %}</h2>
        <p>{% trans "Jumping across squares" %}</p>
        <a href="#popup-Al-Hajlah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Hajlah" class="overlay">
          <div class="popup">

            <a href="#outdoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Hajlah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A game where players jump between squares drawn on the ground using one foot, following a specific pattern without losing balance." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "1 or more players (can be played individually or in groups)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Hide-and-Seek.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Ghumaydah" %}</h2>
        <p>{% trans "Hide and seek game" %}</p>
        <a href="#popup-Al-Ghumaydah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Ghumaydah" class="overlay">
          <div class="popup">

            <a href="#outdoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Ghumaydah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A game where one player searches for others who are hiding. It's fun, exciting, and encourages movement and strategy." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "3 or more players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Baiyah.png' %}">
      <div class="card-content">
        <h2>{% trans "Al-Ba'iyah" %}</h2>
        <p>{% trans "Team-based chasing game" %}</p>
        <a href="#popup-Al-Ba'iyah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Ba'iyah" class="overlay">
          <div class="popup">

            <a href="#outdoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Ba'iyah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A team-based game played with two equal groups, each having a base called “Al-Mawrid.” Players try to enter the opponent's area and return safely while avoiding being tagged. If a player is touched, they must freeze in place until a teammate comes to rescue them. The game involves strategy, speed, and teamwork." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "10 players (divided into two equal teams)" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Dibaq.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Dibaq" %}</h2>
        <p>{% trans "Throwing a piece into a hole" %}</p>
        <a href="#popup-Al-Dibaq" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Dibaq" class="overlay">
          <div class="popup">

            <a href="#outdoor" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Dibaq" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A simple two-player game where each player tries to toss a small piece into a hole in the ground from a short distance. The game focuses on accuracy and control." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Table Games -->
<div class="heritage">
  <h3 id="table">{% trans "Table Games" %}</h3>

  <div class="images-scroll">

    <div class="heritage-card">
      <img src="{% static 'images/games/Um-Al-Tisa.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Um Al-Tisa" %}</h2>
        <p>{% trans "A strategic board game" %}</p>
        <a href="#popup-Um-Al-Tisa" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Um-Al-Tisa" class="overlay">
          <div class="popup">
            <a href="#table" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Um Al-Tisa" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A strategy board game where players place and move pieces to form straight lines and capture their opponent's pieces. The goal is to outplay the opponent through planning and tactics." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Damah.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Damah" %}</h2>
        <p>{% trans "Strategy game using pieces" %}</p>
        <a href="#popup-Al-Damah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Damah" class="overlay">
          <div class="popup">

            <a href="#table" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Damah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A classic strategy board game played on a divided board with pieces. Players aim to capture and trap the opponent's pieces by moving diagonally, using planning and simple tactics similar to chess." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Kiram.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Kiram" %}</h2>
        <p>{% trans "Disc striking board game" %}</p>
        <a href="#popup-Al-Kiram" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Kiram" class="overlay">
          <div class="popup">

            <a href="#table" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Kiram" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "A board game where players use a striker to hit discs and aim to pocket them into the corners. The game requires precision, control, and strategy." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 or 4 players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="heritage-card">
      <img src="{% static 'images/games/Al-Sijah.jpg' %}">
      <div class="card-content">
        <h2>{% trans "Al-Sijah" %}</h2>
        <p>{% trans "Ancient strategy game" %}</p>
        <a href="#popup-Al-Sijah" class="open-btn">{% trans "How to Play" %}</a>

        <div id="popup-Al-Sijah" class="overlay">
          <div class="popup">

            <a href="#table" class="close"><span class="material-symbols-outlined">close</span></a>

            <h2>{% trans "How to Play Al-Sijah" %}</h2>
            <h3>{% trans "Game Description:" %}</h3>
            <p>
              {% trans "An ancient stone-based game played on a drawn grid using small stones. Players use strategy to trap their opponent's pieces, similar to chess but with simpler rules. It is especially popular in northern Saudi Arabia." %}
            </p>
            <h3>{% trans "Number of Players:" %}</h3>
            <p>
              {% trans "2 players" %}
            </p>
            <h3>{% trans "Category:" %}</h3>
            <p>
              {% trans "Suitable for everyone (boys and girls)" %}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}