{%extends 'main/base.html'%}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{%static 'css/style-games-page.css'%}">
{%endblock%}

{% block title %}games{%endblock%}

{%block header%}

<div class="hero">
    <img src="{% static 'images/games/gam1.jpg' %}" class="back-img">

    <div class="title-header">
        <h1>Traditional Games</h1>
        <p>Discover the fun and heritage of Saudi traditional games</p>
    </div>
</div>

{%endblock%}

{% block content%}
<section class="box-intro">
  <div class="intro">
    <h2>Saudi Traditional Games</h2>
    <p>  
        Traditional games in Saudi Arabia show how people enjoyed simple and meaningful moments together.
         These games were not only for fun, but also helped build friendships and strong social bonds.
   </p>
  </div>
  </section>

  <div class="games-container">

    <div class="game-card">
    <img src="{% static 'images/games/Taq-Taq-Taqiyah.jpg' %}" alt="Taq-Taq-Taqiyah">

    <div class="game-content">
      <h2>Taq Taq Taqiyah</h2>
      <p>A group game where children sit in a circle and pass a cap quickly</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Um-Al-Tisa.jpg' %}" alt="Um-Al-Tisa">

    <div class="game-content">
      <h2>Um Al-Tisa (Nine Men's Morris)</h2>
      <p>A strategy game where players form lines to win</p>
    </div>
  </div>
<div class="game-card">
    <img src="{% static 'images/games/Tire Rolling Game.jpg' %}" alt="Tire Rolling Game">

   <div class="game-content">
      <h2>Al-Danana (Tire Rolling Game)</h2>
      <p>A game of rolling a tire while running and controlling it</p>
    </div>
  </div>

<div class="game-card">
    <img src="{% static 'images/games/Al-Masaqeel.jpg' %}" alt="Al-Masaqeel">

  <div class="game-content">
      <h2>Al-Masaqeel </h2>
      <p>A marble game where players use skill to hit and win others' marbles</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Hopscotch.jpg' %}" alt="Hopscotch">

  <div class="game-content">
      <h2>Al-Hajlah (Hopscotch)</h2>
      <p>Jumping on one foot across drawn squares on the ground</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Zagtah.jpg' %}" alt="Al-Zagtah">

  <div class="game-content">
      <h2>Al-Zagtah </h2>
      <p>A five-stone game where a player tosses one and quickly picks up the others</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Hide-and-Seek.jpg' %}" alt="Hide and Seek">

  <div class="game-content">
      <h2>Al-Ghumaydah (Hide and Seek)</h2>
      <p>A hide-and-seek game where one player searches for others</p>
    </div>
  </div>

   <div class="game-card">
    <img src="{% static 'images/games/Hadarijah.jpg' %}" alt="Hadarijah">

  <div class="game-content">
      <h2>Hadarijah</h2>
      <p>A group game where children place their hands and one counts until a hand is chosen</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Damah.jpg' %}" alt="Al-Damah">

  <div class="game-content">
      <h2>Al-Damah</h2>
      <p>A board game focused on trapping the opponent’s pieces using strategy</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Kiram.jpg' %}" alt="Al-Kiram">

  <div class="game-content">
      <h2>Al-Kiram</h2>
      <p>A board game where players strike discs into corner pockets</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Madud.jpg' %}" alt="Al-Madūdr">

  <div class="game-content">
      <h2>Al-Madud</h2>
      <p>A girls' game where simple dolls are made and used for role-playing</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Kabush.png' %}" alt="Al-Kabush">

   <div class="game-content">
      <h2>Al-Kabush</h2>
      <p>A game where players throw a stone to knock marbles out of a circle and win them.</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Baiyah.png' %}" alt="Al-Baiyah">

   <div class="game-content">
      <h2>Al-Ba'iyah</h2>
      <p>A team game where a player enters the opponentطs side and returns;
         if tagged, they must wait until a teammate frees them.</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Sijah.jpg' %}" alt="Al-Sijah">

   <div class="game-content">
      <h2>Al-Sijah</h2>
      <p>An ancient stone game based on strategy and trapping the opponent, similar to chess</p>
    </div>
  </div>

  <div class="game-card">
    <img src="{% static 'images/games/Al-Dibaq.jpg' %}" alt="Al-Dibaq">

   <div class="game-content">
      <h2>Al-Dibaq</h2>
      <p>A two-player game where each tries to toss a small piece into a hole from a distance.</p>
    </div>
  </div>


</div>

  {%endblock%}