{%extends 'main/base.html'%}
{% load i18n %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{%static 'css/style-pages.css'%}">
{%endblock%}

{% block title %}{% trans "Customs & Traditions" %}{%endblock%}
{%block header%}

<div class="hero">
    <img src="{% static 'images/header-tradition.jpg' %}" class="back-img">

    <div class="title-header">
        <h1>{% trans "Customs & Traditions" %}</h1>
        <p>{% trans "Explore the rich customs and traditions of Saudi Arabia" %}</p>
    </div>
</div>

{%endblock%}

{% block content%}
<section class="box-intro">
  <div class="intro">
    <h2>{% trans "Saudi Customs & Traditions" %}</h2>
    <p>  
        {% trans "Customs and traditions in Saudi Arabia reflect the cultural and social values of the society. Although some details vary between regions, there are common traditions shared across the Kingdom, forming an important part of daily life, such as hospitality, family relationships, greetings, and celebrations." %}
  </div>
</section>

<div class="heritage">

  <h3>{% trans "Religious Values" %}</h3>
  <p>
    {% trans "Religious values are a fundamental part of life in Saudi society, influencing daily behavior and relationships. This is reflected in practices such as prayer, fasting during Ramadan, and maintaining good morals like honesty, cooperation, and respect for others." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/Religious1.jpg' %}">
    <img src="{% static 'images/traditions/Religious2.jpg' %}">
    <img src="{% static 'images/traditions/Religious3.jpg' %}">
    <img src="{% static 'images/traditions/Religious4.jpg' %}">
    <img src="{% static 'images/traditions/Religious5.jpg' %}">
  </div>

  <h3>{% trans "Family Values" %}</h3>
  <p>
    {% trans "Family is the foundation of Saudi society, built on love, respect, and cooperation among its members. People value maintaining family ties and regularly visiting relatives, especially during occasions and holidays." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/family1.jpg' %}">
    <img src="{% static 'images/traditions/family2.jpg' %}">
    <img src="{% static 'images/traditions/family3.jpg' %}">
    <img src="{% static 'images/traditions/family4.jpg' %}">
    <img src="{% static 'images/traditions/family5.jpg' %}">
  </div>

  <h3>{% trans "Hospitality" %}</h3>
  <p>
    {% trans "Hospitality is one of the most prominent traditions in Saudi society, where guests are warmly welcomed. This is reflected in serving Arabic coffee and dates as a symbol of authenticity and respect." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/greeting3.jpg' %}">
    <img src="{% static 'images/traditions/greeting4.jpg' %}">
    <img src="{% static 'images/traditions/greeting7.jpg' %}">
  </div>

  <h3>{% trans "Greetings" %}</h3>
  <p>
    {% trans "Greetings are an essential part of Saudi culture, where people exchange kind words that reflect respect. Handshakes and gestures like greeting elders show appreciation and social values." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/greeting1.jpg' %}">
    <img src="{% static 'images/traditions/greeting2.jpg' %}">
    <img src="{% static 'images/traditions/greeting5.jpg' %}">
    <img src="{% static 'images/traditions/greeting6.jpg' %}">
  </div>

  <h3>{% trans "Saudi Coffee" %}</h3>
  <p>
    {% trans "Saudi coffee is one of the most important symbols of hospitality, served with the right hand and reflecting traditions passed down through generations across regions." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/Saudi-Coffee1.jpg' %}">
    <img src="{% static 'images/traditions/Saudi-Coffee2.jpg' %}">
    <img src="{% static 'images/traditions/Saudi-Coffee3.jpg' %}">
    <img src="{% static 'images/traditions/Saudi-Coffee4.jpg' %}">
    <img src="{% static 'images/traditions/Saudi-Coffee5.jpg' %}">
  </div>

  <h3>{% trans "Celebrations" %}</h3>
  <p>
    {% trans "Celebrations are an important part of social life, including Eid and weddings, where people gather, wear traditional clothing, and share joyful moments." %}
  </p>

  <div class="images-scroll">
    <img src="{% static 'images/traditions/Celebrations1.jpg' %}">
    <img src="{% static 'images/traditions/Celebrations2.jpg' %}">
    <img src="{% static 'images/traditions/Celebrations3.jpg' %}">
    <img src="{% static 'images/traditions/Celebrations4.jpg' %}">
    <img src="{% static 'images/traditions/Celebrations5.jpg' %}">
  </div>

</div>

{%endblock%}