{% extends 'main/base.html' %}
{% load static %}
{% block title %} Royal Saudi Land Forces {% endblock %}
{% block content %}
<section class="martyrs-section">

    <div class="martyrs-hero">
        <!-- Video  -->
        <video autoplay muted loop playsinline class="martyrs-media">
            <source src="{% static 'videos/heroes.mp4' %}" type="video/mp4">
        </video>

        <div class="martyrs-overlay"></div>
        <div class="martyrs-content">
            <span class="martyrs-badge">In Memory</span>
            <h2>Martyrs of Honor</h2>
            <p>
                We honor the brave martyrs who sacrificed their lives in defense of the Kingdom.
                Their courage, loyalty, and devotion remain a lasting symbol of national pride and remembrance.
            </p>
        </div>
    </div>
    <!-- quote -->
    <div class="martyrs-quote-box">
        <p class="martyrs-quote">
            “Their sacrifice will forever remain a light of honor, loyalty, and courage in the memory of the nation.”
        </p>
    </div>
</section>
{% endblock %}