{% extends 'main/base.html' %}
{% load static %}

{% block title %} Saudi Military System {% endblock %}

{% block content %}

<div class="military">
    <section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <p class="hero-subtitle">KINGDOM OF SAUDI ARABIA</p>
            <h1>Saudi Military System</h1>
            <p class="hero-text">
                Protecting the nation through strength, unity, and advanced defense systems.
            </p>
            <a href="#about" class="explore-btn">Explore More</a>
        </div>
    </section>

    <section class="about-section" id="about">
        <div class="section-title">
            <span>Overview</span>
            <h2>What is the Saudi Military System?</h2>
        </div>
        <div class="about-grid">
            <div class="about-card">
                <h3>Definition</h3>
                <p>
                    The Saudi military system is an integrated national defense structure composed of multiple elements and military branches
                    that operate under a unified and organized framework. It works to protect the Kingdom of Saudi Arabia, preserve its sovereignty,
                    and maintain national security through coordination and strategic planning.

                    It is considered one of the most advanced and well-organized military systems in the region, forming a key part of Saudi Vision 2030,
                    which focuses on strengthening defense capabilities, localizing military industries, and enhancing the operational readiness of the armed forces.
                </p>
            </div>
            <div class="about-card">
                <h3>Main Purpose</h3>
                <p>
                    Its main purpose is to ensure readiness, coordination, and effective defense capabilities.
                    Each branch has a specific role, and together they form a unified system that supports the
                    safety and stability of the nation.
                </p>
            </div>
        </div>
    </section>

    <section class="ministry-section">
        <div class="ministry-container">
            <div class="text-box">
                <span class="small-title">Connection</span>
                <h2>Its Relationship with the Ministry of Defense</h2>
                <p>
                    The Saudi military system operates under the supervision of the Ministry of Defense, which
                    is responsible for organizing, managing, and developing the armed forces. The ministry plays
                    a central role in strategic planning, leadership, training, and military preparedness.
                </p>
                <p>
                    Through this relationship, the Ministry of Defense ensures that all military sectors work in
                    harmony, follow national goals, and maintain a high level of discipline and operational
                    efficiency.
                </p>
            </div>
            <div class="info-box">
                <div class="info-item">
                    <h4>Leadership</h4>
                    <p>Provides direction and strategic military planning.</p>
                </div>
                <div class="info-item">
                    <h4>Organization</h4>
                    <p>Coordinates military branches under one national defense system.</p>
                </div>
                <div class="info-item">
                    <h4>Development</h4>
                    <p>Supports modernization, training, and readiness of the armed forces.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="importance-section">
        <div class="section-title light">
            <span>Protection & Stability</span>
            <h2>Why Military Organization Matters</h2>
        </div>
        <div class="importance-cards">
            <div class="importance-card">
                <div class="number">01</div>
                <h3>Protecting Sovereignty</h3>
                <p>
                    A strong military system helps defend the Kingdom’s borders, airspace, and territorial waters
                    against threats.
                </p>
            </div>
            <div class="importance-card">
                <div class="number">02</div>
                <h3>Maintaining Security</h3>
                <p>
                    Organized military coordination strengthens national security and supports long-term stability.
                </p>
            </div>
            <div class="importance-card">
                <div class="number">03</div>
                <h3>Improving Readiness</h3>
                <p>
                    Clear structure and leadership allow quick response, better planning, and effective military action.
                </p>
            </div>
        </div>
    </section>

    <section class="forces-overview">
        <div class="forces-container">
            <h2 class="forces-title" id="forces">Main Components of the Military System</h2>
            <p class="forces-subtitle">
                The Saudi military system consists of several main branches that work together
                to ensure national defense and security. </p>
            <section class="components-section">
                <div class="components-card reveal-card">
                    <div class="components-circle"> <img src="{% static 'images/land-logo.jpg' %}" alt="land logo"> </div>
                    <div class="components-bar">
                        <div class="components-content">
                            <h3>Royal Saudi Land Forces</h3>
                            <p> represent the first line of defense for the Kingdom, combining advanced military strength with constant readiness to safeguard national security and stability. </p>
                        </div> <a href="{% url 'main:land_forces_view' %}" class="components-link"> View More </a>
                    </div>
                </div>
            </section>

            <section class="components-section">
                <div class="components-card reveal-card">
                    <div class="components-circle"> <img src="{% static 'images/air-logo.jpg' %}" alt="air logo"> </div>
                    <div class="components-bar">
                        <div class="components-content">
                            <h3>Royal Saudi Air Force</h3>
                            <p> Responsible for protecting the Kingdom’s airspace and supporting operations with advanced aircraft and high readiness. </p>
                        </div> <a href="{% url 'main:air_forces_view' %}" class="components-link"> View More </a>
                    </div>
                </div>
            </section>

            <section class="components-section">
                <div class="components-card reveal-card">
                    <div class="components-circle"> <img src="{% static 'images/naval-logo.png' %}" alt="naval logo"> </div>
                    <div class="components-bar">
                        <div class="components-content">
                            <h3>Royal Saudi Naval Forces</h3>
                            <p> The Royal Saudi Naval Forces protect the Kingdom’s seas and support maritime security. </p>
                        </div> <a href="{% url 'main:naval_forces_view' %}" class="components-link"> View More </a>
                    </div>
                </div>
            </section>

            <section class="components-section">
                <div class="components-card reveal-card">
                    <div class="components-circle"> <img src="{% static 'images/air-defense-logo.png' %}" alt="air defense logo"> </div>
                    <div class="components-bar">
                        <div class="components-content">
                            <h3>Royal Saudi Air Defense Forces</h3>
                            <p> protect the Kingdom from aerial threats using advanced missile and radar systems. </p>
                        </div> <a href="{% url 'main:air_defense_forces_view' %}" class="components-link"> View More </a>
                    </div>
                </div>
            </section>

            <section class="components-section">
                <div class="components-card reveal-card">
                    <div class="components-circle"> <img src="{% static 'images/strategic-missile-logo.jpg' %}" alt="strategic missile logo"> </div>
                    <div class="components-bar">
                        <div class="components-content">
                            <h3>Royal Saudi Strategic Missile Force</h3>
                            <p> provides strategic deterrence and enhances the Kingdom’s defense capabilities. </p>
                        </div> <a href="{% url 'main:strategic_missile_force_view' %}" class="components-link"> View More </a>
                    </div>
                </div>
            </section>
        </div>
    </section>


    <section class="objectives-section">
        <div class="objectives-wrap">
            <h2 class="objectives-title">Key Objectives</h2>
            <div class="objectives-grid">
                <div class="objective-box">
                    <h3>Border Protection</h3>
                    <p>Protect the Kingdom’s borders and preserve its sovereignty.</p>
                </div>
                <div class="objective-box">
                    <h3>National Security</h3>
                    <p>Maintain national security and support long-term stability.</p>
                </div>
                <div class="objective-box">
                    <h3>Military Readiness</h3>
                    <p>Enhance readiness, coordination, and rapid response capabilities.</p>
                </div>
                <div class="objective-box">
                    <h3>Regional Support</h3>
                    <p>Support regional and international security efforts when needed.</p>
                </div>
                <div class="objective-box">
                    <h3>Defense Development</h3>
                    <p>Develop advanced defense capabilities and modern military systems.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="operate-section">
        <div class="operate-wrap">
            <div class="operate-side">
                <span class="operate-label">Structure</span>
                <h2 class="operate-title">How the Military System Operates</h2>
            </div>
            <div class="operate-box">
                <p>
                    The Saudi military system operates through a unified command structure that ensures
                    coordination between all branches. Each branch performs specialized roles while
                    working together to achieve strategic goals and respond to different threats efficiently.
                </p>
            </div>
        </div>
    </section>

    <section class="vision-section">
        <div class="vision-wrap">
            <div class="vision-content">
                <span class="vision-badge">Vision 2030</span>
                <h2 class="vision-title">Modern Development and Vision 2030</h2>
                <p class="vision-text">
                    As part of Saudi Vision 2030, the military system is undergoing continuous development
                    through modernization, advanced technologies, and the localization of military industries.
                    These efforts aim to strengthen defense capabilities and increase self-sufficiency.
                </p>
            </div>
            <div class="vision-image">
                <img src="{% static 'images/vision.jpg' %}" alt="Vision 2030">
            </div>
        </div>
    </section>


    <section class="role-section">
        <div class="role-wrap">
            <h2 class="role-title">Role Beyond Defense</h2>
            <p class="role-intro">
                The Saudi Armed Forces also contribute to wider humanitarian and international efforts.
            </p>
            <div class="role-grid">
                <div class="role-card">
                    <h3>Humanitarian Missions</h3>
                    <p>Supporting people during emergencies and humanitarian situations.</p>
                </div>

                <div class="role-card">
                    <h3>Disaster Response</h3>
                    <p>Providing rapid assistance and organized response during crises and disasters.</p>
                </div>

                <div class="role-card">
                    <h3>International Peace Efforts</h3>
                    <p>Contributing to regional stability and global cooperation beyond national defense.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="closing-section">
        <div class="closing-content">
            <h2>A Unified System for National Defense</h2>
            <p>
                The Saudi military system reflects the importance of order, coordination, and readiness in
                defending the nation. Through its connection with the Ministry of Defense, it continues to
                play a key role in protecting the Kingdom and supporting its security.
            </p>
        </div>
    </section>
</div>

{% endblock %}