{% extends 'main/base.html' %}
{% load static %}
{% block title %}Al Qaseem{% endblock %}
{% block content %}
<main>
    <section class="city-detail-header">
        <h1 class="translate-text" 
            data-ar=" القصيم " 
            data-en=" Al-Qassim City">
            Al-Qassim City
        </h1>
    </section>

    <div class="filter-container">
        <button class="filter-btn active translate-text" data-ar="الكل" data-en="All" onclick="filterSelection('all')">All</button>
        <button class="filter-btn translate-text" data-ar="طبيعة" data-en="Nature" onclick="filterSelection('nature')">Nature</button>
        <button class="filter-btn translate-text" data-ar="ثقافة وتاريخ" data-en="Culture & History" onclick="filterSelection('culture')">Culture & History</button>
        <button class="filter-btn translate-text" data-ar="تسوق" data-en="Shopping" onclick="filterSelection('shopping')">Shopping</button>
        <button class="filter-btn translate-text" data-ar="أودية" data-en="Valley" onclick="filterSelection('valley')">Valley</button>
        <button class="filter-btn translate-text" data-ar="ترفية" data-en="Entertaiment" onclick="filterSelection('entertaiment')">Entertaiment</button>
    </div>

    <div class="riyadh-grid">
    
        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/Jumar.jpg' %}" alt="jumar"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" جمار " data-en=" Jumar Fram "> Jumar Farm </h3>
                <p class="translate-text" data-ar=" ترفية " data-en=" entertaiment "> entertaiment </p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/nakhla.jpg' %}" alt="nakhla"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" نخلا " data-en=" nakhla "> nakhla </h3>
                <p class="translate-text" data-ar=" ترفية " data-en=" entertaiment "> entertaiment </p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/albustan-q.jpg' %}" alt="bustan"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" البستان " data-en=" Al-Bustan "> Al-Bustan </h3>
                <p class="translate-text" data-ar=" ترفية " data-en=" entertaiment "> entertaiment </p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/SidraValley.jpg' %}" alt="Sidra"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" سدرة فالي " data-en=" Sidra Valley ">Sidra Valley</h3>
                <p class="translate-text" data-ar=" ترفية " data-en=" entertaiment "> entertaiment </p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/nakheel.jpg' %}" alt="alnakheel"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" جادة النخيل " data-en=" Alnakheel ">Alnakheel</h3>
                <p class="translate-text" data-ar=" ترفية " data-en=" entertaiment "> entertaiment </p>
            </div>
        </div>


    </div>
</main>

<script>
// وظيفة التصفية (Filtering)
function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filter-item");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        if (x[i].className.indexOf(c) > -1) {
            x[i].style.display = "block";
        }
    }
    // تغيير شكل الزر النشط
    var btns = document.getElementsByClassName("filter-btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].classList.remove("active");
    }
    event.currentTarget.classList.add("active");
}
</script>
{% endblock %}
