{% extends 'tourism/base.html' %}
{% load static %}
{% block title %}Home - Saudi Tourism{% endblock %}
{% block content %}
    <div class="slider">
        <div class="balls-icon">
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
            <!-- Repeat -->
            <!-- <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div> -->
        </div>
        <div class="slider-header">
            <h1 class="home-title">السياحةالسعودية</h1>
        </div>
        <div class="slides">
            <!-- Riyadh  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/riyadh/riyadh.png' %}" alt="Riyadh">
                <h3>الرياض</h3>
            </div> -->
            <!-- Qassim  -->    
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/qassim/Qassim.png' %}" alt="Qassim">
                <h3>القصيم</h3>
            </div> -->
            <!-- Makkah  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/makkah/makkah.png' %}" alt="Makkah">
                <h3>مكة المكرمة</h3>
            </div> -->
            <!-- Madina  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/madina/madina.png' %}" alt="Madina">
                <h3>المدينة المنورة</h3>
            </div> -->
            <!-- Jeddah  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/jeddah/Jeddah.png' %}" alt="Jeddah">
                <h3>جدة</h3>
            </div> -->
            <!-- Al-Ula  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/al-ula/Al-Ula.png' %}" alt="Al-Ula">
                <h3>العلا</h3>
            </div> -->
            <!-- Abha  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/abha/Abha.png' %}" alt="Abha">
                <h3>أبها</h3>
            </div> -->
            <!-- Two more cities -->
            <!-- Riyadh  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/riyadh/riyadh.png' %}" alt="Riyadh">
                <h3>الرياض</h3>
            </div> -->
            <!-- Qassim  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/qassim/Qassim.png' %}" alt="Qassim">
                <h3>القصيم</h3>
            </div> -->
            <!-- Makkah  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/makkah/makkah.png' %}" alt="Makkah">
                <h3>مكة المكرمة</h3>
            </div> -->
            <!-- Madina  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/madina/madina.png' %}" alt="Madina">
                <h3>المدينة المنورة</h3>
            </div> -->
            <!-- Jeddah  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/jeddah/Jeddah.png' %}" alt="Jeddah">
                <h3>جدة</h3>
            </div> -->
            <!-- Al-Ula  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/al-ula/Al-Ula.png' %}" alt="Al-Ula">
                <h3>العلا</h3>
            </div> -->
            <!-- Abha  -->
            <!-- <div class="slide">
                <img src="{% static 'images_and_videos/abha/Abha.png' %}" alt="Abha">
                <h3>أبها</h3>
            </div> -->
        </div>
    </div>
    <div class="home-content">
        <img src="{% static 'images_and_videos/home-page/Hero_image.png' %}" alt="Hero Image">
        <div class="intro-saudi">
            <h2 class="title-saudi">السياحة في السعودية</h2>
            <p dir="rtl">تُعدّ المملكة العربية السعودية واحدة من أبرز الوجهات السياحية الصاعدة في العالم، حيث تجمع بين الأصالة العريقة والتطور
            الحديث في تجربة فريدة لا مثيل لها. تمتد أرضها على مساحات شاسعة تضم تنوعًا طبيعيًا مذهلًا، من الصحارى الذهبية الساحرة إلى
            الجبال الخضراء في الجنوب، وصولًا إلى السواحل الخلابة على البحر الأحمر.
            
            تزخر المملكة بتاريخ عميق وثقافة غنية، تتجلى في مواقعها التراثية العريقة مثل العلا ودرعية التاريخية، إلى جانب مدنها
            الحديثة النابضة بالحياة مثل الرياض وجدة. كما توفر تجربة روحانية فريدة من نوعها في مكة المكرمة والمدينة المنورة، مما
            يجعلها مقصدًا لملايين الزوار سنويًا.
            
            وفي ظل رؤية السعودية 2030، شهد القطاع السياحي تطورًا كبيرًا من خلال مشاريع ضخمة وبنية تحتية متقدمة، مما جعل المملكة وجهة
            عالمية تجمع بين الترفيه، الثقافة، المغامرة، والضيافة العربية الأصيلة.</p>
        </div>
    </div>
    <section class="container my-5" dir="rtl">
    
        <h2 class="text-center mb-4">استكشف المدن</h2>
    
        <div class="row g-4">
            <!-- Riyadh -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/riyadh/riyadh.png' %}" class="card-img-top" alt="Riyadh">
                    <div class="card-body text-center">
                        <h5 class="card-title">الرياض</h5>
                        <p dir="rtl">الرياض هي العاصمة والمركز الاقتصادي والثقافي للمملكة العربية السعودية.</p>
                        <a href="{% url 'tourism:riyadh_view' %}" class="btn btn-primary mt-auto">تعرف على المزيد</a>
                    </div>
                </div>
            </div>
            <!-- Makkah -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/makkah/makkah.png' %}" class="card-img-top" alt="Makkah">
                    <div class="card-body text-center">
                        <h5 class="card-title">مكة المكرمة</h5>
                        <p dir="rtl">مكة المكرمة هي المدينة المقدسة في الإسلام، وهي وجهة سياحية مهمة للمملكة العربية السعودية.</p>
                        <a href="{% url 'tourism:makkah_view' %}" class="btn btn-primary mt-auto">تعرف على المزيد</a>
                    </div>
                </div>
            </div>
            <!-- Madina -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/madina/madina.png' %}" class="card-img-top" alt="Madina">
                    <div class="card-body text-center">
                        <h5 class="card-title">المدينة المنورة</h5>
                        <p dir="rtl">المدينة المنورة هي إحدى أقدس المدن في الإسلام، وتُعد وجهة دينية وسياحية مهمة في المملكة العربية السعودية.</p>
                        <a href="{% url 'tourism:madinah_view' %}" class="btn btn-primary mt-auto">تعرف على المزيد</a>
                    </div>
                </div>
            </div>
            <!-- Qassim -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/qassim/Qassim.png' %}" class="card-img-top" alt="Qassim">
                    <div class="card-body text-center">
                        <h5 class="card-title"> القصيم</h5>
                        <p dir="rtl">منطقة القصيم من أبرز مناطق المملكة، وتتميز بواحاتها الزراعية الواسعة وتراثها العريق، مما يجعلها وجهة سياحية وثقافية
                        مميزة.</p>
                        <a href="{% url 'tourism:qassim_view' %}" class="btn btn-primary mt-auto">تعرف على المزيد</a>
                    </div>
                </div>
            </div>
    
            <!-- Jeddah -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/jeddah/jeddah.png' %}" class="card-img-top" alt="Jeddah">
                    <div class="card-body text-center">
                        <h5 class="card-title">جدة</h5>
                        <p dir="rtl">جدة مدينة ساحلية على البحر الأحمر، تُعد من أهم المراكز السياحية والتجارية في المملكة، وتتميز بتاريخها العريق ومعالمها
                        الحديثة مثل الواجهة البحرية ومدينة جدة التاريخية.</p>
                        <a href="{% url 'tourism:jeddah_view' %}" class="btn btn-primary mt-auto">تعرف على المزيد</a>
                    </div>
                </div>
            </div>
    
            <!-- Abha -->
            <!-- <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/abha/Abha.png' %}" class="card-img-top" alt="Abha">
                    <div class="card-body text-center">
                        <h5 class="card-title">أبها</h5>
                    </div>
                </div>
            </div> -->
    
            <!-- AlUla -->
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                    <img src="{% static 'images_and_videos/al-ula/Al-Ula.png' %}" class="card-img-top" alt="AlUla">
                    <div class="card-body text-center">
                        <h5 class="card-title">العلا</h5>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
{% endblock %}
