{% extends 'tourism/base.html' %}
{% load static %}
{% block title %}Home - Saudi Tourism{% endblock %}
{% block content %}
    <div class="slider">
        <div class="balls-icon">
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <!-- Repeat -->
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
            <div class="ball white"></div>
            <div class="ball green"></div>
        </div>
        <div class="slider-header">
            <h1>السياحة في السعودية</h1>
        </div>
        <div class="slides">
            <!-- Riyadh  -->
            <div class="slide">
                <img src="{% static 'images/Riyadh.png' %}" alt="Riyadh">
                <h3>الرياض</h3>
            </div>
            <!-- Qassim  -->    
            <div class="slide">
                <img src="{% static 'images/Qassim.png' %}" alt="Qassim">
                <h3>القصيم</h3>
            </div>
            <!-- Makkah  -->
            <div class="slide">
                <img src="{% static 'images/Makkah.png' %}" alt="Makkah">
                <h3>مكة المكرمة</h3>
            </div>
            <!-- Madina  -->
            <div class="slide">
                <img src="{% static 'images/Madina.png' %}" alt="Madina">
                <h3>المدينة المنورة</h3>
            </div>
            <!-- Jeddah  -->
            <div class="slide">
                <img src="{% static 'images/Jeddah.png' %}" alt="Jeddah">
                <h3>جدة</h3>
            </div>
            <!-- Al-Ula  -->
            <div class="slide">
                <img src="{% static 'images/Al-Ula.png' %}" alt="Al-Ula">
                <h3>العلا</h3>
            </div>
            <!-- Abha  -->
            <div class="slide">
                <img src="{% static 'images/Abha.png' %}" alt="Abha">
                <h3>أبها</h3>
            </div>
            <!-- Two more cities -->
            <!-- Riyadh  -->
            <div class="slide">
                <img src="{% static 'images/Riyadh.png' %}" alt="Riyadh">
                <h3>الرياض</h3>
            </div>
            <!-- Qassim  -->
            <div class="slide">
                <img src="{% static 'images/Qassim.png' %}" alt="Qassim">
                <h3>القصيم</h3>
            </div>
            <!-- Makkah  -->
            <div class="slide">
                <img src="{% static 'images/Makkah.png' %}" alt="Makkah">
                <h3>مكة المكرمة</h3>
            </div>
            <!-- Madina  -->
            <div class="slide">
                <img src="{% static 'images/Madina.png' %}" alt="Madina">
                <h3>المدينة المنورة</h3>
            </div>
            <!-- Jeddah  -->
            <div class="slide">
                <img src="{% static 'images/Jeddah.png' %}" alt="Jeddah">
                <h3>جدة</h3>
            </div>
            <!-- Al-Ula  -->
            <div class="slide">
                <img src="{% static 'images/Al-Ula.png' %}" alt="Al-Ula">
                <h3>العلا</h3>
            </div>
            <!-- Abha  -->
            <div class="slide">
                <img src="{% static 'images/Abha.png' %}" alt="Abha">
                <h3>أبها</h3>
            </div>
        </div>
    </div>
{% endblock %}
