{% extends 'tourism/base.html' %}
{% load static %}
{% block title %}جدة - السياحة السعودية{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<div class="slider">
    <div class="balls-icon">
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <!-- Repeat -->
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
    </div>

    <!-- title  -->
    <div class="slider-header">
        <h1>جدة</h1>
    </div>

    <div class="slides">
        <!-- albalad -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/albalad.png' %}" alt="albalad">
            <h3>جدة التاريخية (البلد)</h3>
        </div>
        <!-- jeddah_club -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_club.png' %}" alt="jeddah_club">
            <h3>نادي جدة لليخوت</h3>
        </div>
        <!-- jeddah_art -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_art.png' %}" alt="jeddah_art">
            <h3>جدة آرت بروميناد</h3>
        </div>
        <!-- corniche -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/corniche.png' %}" alt="corniche">
            <h3>كورنيش جدة</h3>
        </div>
        <!-- king_fahad_fountain -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/king_fahad_fountain.png' %}" alt="king_fahad_fountain">
            <h3>نافورة الملك فهد</h3>
        </div>
        <!-- jeddah_museum -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_museum.png' %}" alt="jeddah_museum">
            <h3> متحف الطيبات </h3>
        </div>
        <!-- Two more cities -->
        <!-- albalad -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/albalad.png' %}" alt="albalad">
            <h3>جدة التاريخية (البلد)</h3>
        </div>
        <!-- jeddah_club -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_club.png' %}" alt="jeddah_club">
            <h3>نادي جدة لليخوت</h3>
        </div>
        <!-- jeddah_art -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_art.png' %}" alt="jeddah_art">
            <h3>جدة آرت بروميناد</h3>
        </div>
        <!-- corniche -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/corniche.png' %}" alt="corniche">
            <h3>كورنيش جدة</h3>
        </div>
        <!-- king_fahad_fountain -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/king_fahad_fountain.png' %}" alt="king_fahad_fountain">
            <h3>نافورة الملك فهد</h3>
        </div>
        <!-- jeddah_museum -->
        <div class="slide">
            <img src="{% static 'images_and_videos/jeddah/jeddah_museum.png' %}" alt="jeddah_museum">
            <h3> متحف الطيبات </h3>
        </div>
    </div>
</div>
<!-- jeddah History -->
<div class="card text-bg-dark" dir="rtl">
    <img src="{% static 'images_and_videos/jeddah/jeddah.png' %}" class="card-img" alt="jeddah-bg">
    <div class="card-img-overlay">
        <h5 class="card-title">تاريخ جدة</h5>
        <p class="card-text">جدة من أقدم مدن المملكة وأكثرها تاريخًا، حيث كانت منذ قرون بوابة الحرمين الشريفين وميناءً رئيسيًا للتجارة والحجاج
        القادمين عبر البحر الأحمر. ازدهرت جدة عبر العصور الإسلامية، خاصة في العهد العثماني، حيث بُني سورها التاريخي وأسواقها
        القديمة في منطقة “البلد”. ومع مرور الزمن، تطورت المدينة لتصبح مركزًا اقتصاديًا وسياحيًا مهمًا، مع حفاظها على طابعها
        التراثي العريق.
        </p>
        <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
    </div>
</div>
<!-- jeddah Attractions -->
<div class="container my-5" dir="rtl">
    <h2 class="text-right mb-4">أبرز المعالم  </h2>

    <div class="row g-4 align-items-stretch">

        <!-- albalad -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/albalad.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">جدة التريخية (البلد)</h5>
                        <p class="card-text">من أقدم وأهم المناطق التراثية في المملكة، وتُعد قلب مدينة جدة التاريخي. تتميز بأزقتها الضيقة وبيوتها القديمة ذات
                        الرواشين الخشبية الجميلة، وتعكس تاريخًا عريقًا كميناء رئيسي للحجاج والتجار. كما تضم أسواقًا شعبية ومعالم تاريخية تمنح
                        الزوار تجربة ثقافية أصيلة تجمع بين عبق الماضي وروح المكان.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- jeddah_club -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/jeddah_club.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">نادي جدة لليخوت</h5>
                        <p class="card-text">يقع نادي جدة لليخوت على الواجهة البحرية بجوار حلبة كورنيش جدة، في موقع حيوي يجمع بين روح البحر وأناقة التصميم الساحلي.
                        ويمتد النادي على مساحة تقارب 122 ألف متر مربع، ويضم مرسى حديثًا يُعد من أوائل مراسي اليخوت على ساحل البحر الأحمر. كما
                        يحظى المرسى باعتراف رسمي كميناء دخول لليخوت الدولية.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- jeddah_art -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/jeddah_art.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">جدة آرت بروميناد </h5>
                        <p class="card-text">جدة آرت بروميناد وجهة ترفيهية حديثة على كورنيش جدة، تجمع بين الفنون والأنشطة الترفيهية في أجواء بحرية مميزة. تضم ممشى
                        جميل، مطاعم ومقاهي متنوعة، إضافة إلى فعاليات وعروض حية تجعلها مكانًا مثاليًا للتنزه وقضاء وقت ممتع مع العائلة والأصدقاء.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- jeddah_corniche -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/corniche.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">كورنيش جدة</h5>
                        <p class="card-text">كورنيش جدة من أشهر الوجهات السياحية في المدينة، ويتميز بإطلالته الجميلة على البحر الأحمر وأجوائه الهادئة. يضم مساحات
                        خضراء، وممرات للمشي، ومناطق ترفيهية ومطاعم، مما يجعله مكانًا مثاليًا للتنزه وقضاء وقت ممتع مع العائلة والأصدقاء.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- qassim_mountains -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/king_fahad_fountain.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">نافورة الملك فهد</h5>
                        <p class="card-text">نافورة الملك فهد من أشهر معالم جدة وأعلى نافورة في العالم، حيث يصل ارتفاع مياهها إلى أكثر من 300 متر. تقع على ساحل البحر
                        الأحمر، وتُعد رمزًا مميزًا للمدينة، خاصة في الليل عندما تُضاء بألوان جميلة، مما يجعلها وجهة رائعة للزوار ومحبي التصوير.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- jeddah_museum -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/jeddah/jeddah_museum.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">متحف الطيبات</h5>
                        <p class="card-text">متحف الطيبات من أبرز المتاحف في جدة، ويتميز بتصميمه التراثي المستوحى من العمارة الحجازية. يضم مجموعة كبيرة من المقتنيات
                        التي تروي تاريخ الجزيرة العربية والحضارة الإسلامية، مثل الأدوات القديمة، والمخطوطات، والمجسمات، مما يمنح الزائر تجربة
                        ثقافية غنية تجمع بين المعرفة وجمال التراث.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jeddah Attractions -->
<div class="container my-5" dir="rtl">
    <h2 class="text-right mb-4">أبرز الفعاليات  </h2>

    <div class="row g-3">

        <!-- الكرت 1 -->
        <div class="col-12">
            <div class="card-wrapper2 h-100">
                <div class="card h-100">
                    <div class="row g-0 h-100">

                        <div class="col-md-4">
                            <img src="{% static 'images_and_videos/jeddah/jeddah_festival.png' %}"
                                class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                        </div>

                        <div class="col-md-8 d-flex flex-column">
                            <div class="card-body">
                                <h5 class="card-title">موسم جدة</h5>
                                <p class="card-text">
                                    موسم جدة يُعد من أكبر المواسم الترفيهية في المملكة، حيث يجمع بين الفعاليات الفنية
                                    والعروض الحية
                                    والألعاب الترفيهية في مواقع متعددة مثل سيتي ووك وجدة بروميناد، مع أجواء حيوية وتجارب
                                    ممتعة
                                    تناسب جميع الأعمار.
                                </p>
                            </div>

                            <div class="card-footer mt-auto">
                                <small class="text-body-secondary">
                                    يُقام عادةً في فصل الصيف (من مايو) وقد يستمر لعدة أشهر
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- الكرت 2 -->
        <div class="col-12">
            <div class="card-wrapper2 h-100">
                <div class="card h-100">
                    <div class="row g-0 h-100">

                        <div class="col-md-4">
                            <img src="{% static 'images_and_videos/jeddah/formula1.png' %}"
                                class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                        </div>

                        <div class="col-md-8 d-flex flex-column">
                            <div class="card-body">
                                <h5 class="card-title">سباق الفورمولا 1</h5>
                                <p class="card-text">
                                    سباق الفورمولا 1 – جائزة السعودية الكبرى يُعد من أبرز الأحداث الرياضية العالمية التي
                                    تُقام في
                                    حلبة كورنيش جدة، ويتميز بأجوائه الليلية والإضاءة المبهرة والفعاليات المصاحبة.
                                </p>
                            </div>

                            <div class="card-footer mt-auto">
                                <small class="text-body-secondary">
                                    يُقام عادةً في شهر مارس من كل عام
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- الكرت 3 -->
        <div class="col-12">
            <div class="card-wrapper2 h-100">
                <div class="card h-100">
                    <div class="row g-0 h-100">

                        <div class="col-md-4">
                            <img src="{% static 'images_and_videos/jeddah/beach_activities.png' %}"
                                class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                        </div>

                        <div class="col-md-8 d-flex flex-column">
                            <div class="card-body">
                                <h5 class="card-title">الفعاليات البحرية والشاطئية</h5>
                                <p class="card-text">
                                    تشمل الفعاليات البحرية في جدة الغوص، وركوب القوارب، والجت سكي، والاستمتاع بالشواطئ
                                    والمنتجعات، مما يجعلها تجربة ممتعة ومناسبة لجميع الأعمار على ساحل البحر الأحمر.
                                </p>
                            </div>

                            <div class="card-footer mt-auto">
                                <small class="text-body-secondary">
                                    تُقام في شواطئ جدة مثل الكورنيش وأبحر طوال العام
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}