{% extends 'tourism/base.html' %}
{% load static %}
{% block title %}الرياض - السياحة السعودية{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<div class="slider">
    <div class="balls-icon">
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <!-- Repeat -->
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
        <div class="ball white"></div>
        <div class="ball green"></div>
    </div>
    <!-- title  -->
    <div class="slider-header">
        <h1>الرياض</h1>
    </div>

    <div class="slides">
        <!-- Kingdom_Center -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/kingdom_center.png' %}" alt="Kingdom_Center">
            <h3>برج المملكة</h3>
        </div>
        <!-- AlMasmak_Fortress -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/almasmak_fortress.png' %}" alt="AlMasmak_Fortress">
            <h3>قصر المصمك</h3>
        </div>
        <!-- Boulevard_City  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/boulevard_city.png' %}" alt="Boulevard_City">
            <h3>بوليفارد سيتي</h3>
        </div>
        <!-- Diriyah  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/diriyah.png' %}" alt="Diriyah">
            <h3>الدرعية</h3>
        </div>
        <!-- Tuwiq  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/tuwiq.png' %}" alt="Tuwiq">
            <h3>جبل طويق</h3>
        </div>
        <!-- KAFD -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/kafd.png' %}" alt="KAFD">
            <h3>مركز الملك عبدالله المالي (KAFD)</h3>
        </div>
        <!-- Two more cities -->
        <!-- Kingdom_Center -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/kingdom_center.png' %}" alt="Kingdom_Center">
            <h3>برج المملكة</h3>
        </div>
        <!-- AlMasmak_Fortress -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/almasmak_fortress.png' %}" alt="AlMasmak_Fortress">
            <h3>قصر المصمك</h3>
        </div>
        <!-- Boulevard_City  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/boulevard_city.png' %}" alt="Boulevard_City">
            <h3>بوليفارد سيتي</h3>
        </div>
        <!-- Diriyah  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/diriyah.png' %}" alt="Diriyah">
            <h3>الدرعية</h3>
        </div>
        <!-- Tuwiq  -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/tuwiq.png' %}" alt="Tuwiq">
            <h3>جبل طويق</h3>
        </div>
        <!-- KAFD -->
        <div class="slide">
            <img src="{% static 'images_and_videos/riyadh/kafd.png' %}" alt="KAFD">
            <h3>مركز الملك عبدالله المالي (KAFD)</h3>
        </div>
    </div>
</div>
<!-- Riyadh History -->
<div class="card text-bg-dark page-enter" dir="rtl">
    <img src="{% static 'images_and_videos/riyadh/riyadh_bg.png' %}" class="card-img" alt="riyadh-bg">
    <div class="card-img-overlay">
        <h5 class="card-title">تاريخ الرياض</h5>
        <p class="card-text">تُعد الرياض من أعرق مدن المملكة العربية السعودية، إذ تعود جذورها التاريخية إلى قرون طويلة،
            وكانت تُعرف قديمًا باسم
            “حَجْر اليمامة” التي شكّلت مركزًا حضاريًا وتجاريًا مهمًا في شبه الجزيرة العربية. وقد شهدت المدينة مراحل
            تاريخية بارزة،
            بدءًا من نشأتها القديمة مرورًا بدورها في قيام الدولة السعودية، حتى أصبحت اليوم عاصمة حديثة تجمع بين أصالة
            الماضي وروح
            التطور. وتعكس معالمها التاريخية، مثل الدرعية وقصر المصمك، هذا الإرث العريق الذي يروي قصة التحول والنهوض عبر
            الزمن.</p>
        <!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
    </div>
</div>
<!-- Riyadh Attractions -->
<div class="container my-5" dir="rtl">
    <h2 class="text-right mb-4">أبرز المعالم</h2>

    <div class="row g-4 align-items-stretch reveal reveal-delay-1">

        <!-- kingdome center -->
        <div class="col-md-4 ">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/kingdom_center.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">برج المملكة</h5>
                        <p class="card-text">يُعد برج المملكة من أبرز معالم مدينة الرياض وأشهر رموزها الحديثة، حيث يتميز بتصميم معماري فريد وارتفاع يصل إلى أكثر من
                        300 متر. يضم البرج مزيجًا من المرافق المتكاملة مثل المكاتب، والمراكز التجارية، والفنادق الفاخرة، إضافة إلى جسر السماء
                        الذي يوفر إطلالة بانورامية خلابة على المدينة. ويعكس برج المملكة روح التطور العمراني والاقتصادي الذي تشهده الرياض في
                        العصر الحديث.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Diriyah -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/diriyah.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">الدرعية</h5>
                        <p class="card-text">تُعد الدرعية من أهم المعالم التاريخية في الرياض، حيث تمثل مهد الدولة السعودية الأولى وواحدة من أبرز مواقع التراث
                        العالمي. تتميز الدرعية بطابعها المعماري النجدي التقليدي، ويبرز فيها حي الطريف الذي يعكس تاريخًا عريقًا وثقافة أصيلة. وقد
                        تحولت اليوم إلى وجهة سياحية وثقافية متكاملة تجمع بين التراث والفعاليات الحديثة، مما يجعلها نقطة جذب رئيسية للزوار من
                        داخل المملكة وخارجها.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Al-Masmak Fortress -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/almasmak_fortress.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">قصر المصمك</h5>
                        <p class="card-text">يُعد قصر المصمك من أبرز المعالم التاريخية في الرياض، حيث ارتبط بدور مهم في توحيد المملكة العربية السعودية. يتميز القصر
                        بتصميمه الطيني التقليدي وأبراجه القوية التي تعكس فن العمارة النجدية القديمة، كما يضم اليوم متحفًا يعرض تاريخ المنطقة
                        وأحداثها. ويُعد قصر المصمك وجهة سياحية وثقافية بارزة تجسد أصالة الماضي وعراقة التاريخ السعودي.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boulevard City -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/boulevard_city.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">بوليفارد سيتي</h5>
                        <p class="card-text">تُعد بوليفارد سيتي واحدة من أبرز الوجهات الترفيهية الحديثة في الرياض، حيث تجمع بين الفعاليات العالمية والمطاعم المتنوعة
                        والتجارب الترفيهية المميزة. تتميز بأجوائها الحيوية وتصاميمها العصرية التي تستقطب الزوار من مختلف الأعمار، خاصة خلال موسم
                        الرياض. وتوفر بوليفارد سيتي تجربة متكاملة تجمع بين الترفيه والتسوق والعروض الحية، مما يجعلها من أهم معالم المدينة
                        الحديثة.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tuwiq  -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/tuwiq.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">جبل طويق</h5>
                        <p class="card-text">يُعد جبل طويق من أبرز المعالم الطبيعية القريبة من الرياض، ويتميز بتشكيلاته الصخرية الممتدة التي ترسم حافة مهيبة عبر هضبة
                        نجد. يُعرف الجبل بإطلالاته البانورامية الخلابة، خاصة عند الغروب، حيث يقصده الزوار للاستمتاع بالطبيعة والتخييم والتصوير.
                        ويُعد رمزًا للقوة والصلابة في الثقافة السعودية، مما يجعله وجهة مميزة لمحبي المغامرات والطبيعة.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- KAFD  -->
        <div class="col-md-4">
            <div class="card-wrapper h-100">
                <div class="card shadow">
                    <img src="{% static 'images_and_videos/riyadh/kafd.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">مركز الملك عبدالله المالي (KAFD)</h5>
                        <p class="card-text">يُعد مركز الملك عبدالله المالي (KAFD) من أبرز المعالم الحديثة في مدينة الرياض، حيث يجمع بين الطابع المعماري العصري
                        والمكانة الاقتصادية المميزة. يتميز المركز بأبراجه الفريدة ومساحاته المتطورة التي تضم مكاتب وشركات عالمية وفنادق ومطاعم
                        ومرافق ترفيهية متنوعة، مما يجعله وجهة متكاملة للأعمال والحياة العصرية. ويعكس KAFD رؤية الرياض كمدينة عالمية حديثة تجمع
                        بين الابتكار، والاستثمار، وجودة الحياة.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Riyadh Attractions -->
    <div class="container my-5" dir="rtl">
        <h2 class="text-right mb-4">أبرز الفعاليات </h2>
    
        <div class="row g-3 reveal reveal-delay-1">
    
            <!-- card 1 -->
            <div class="col-12">
                <div class="card-wrapper2 h-100">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
    
                            <!-- الصورة -->
                            <div class="col-md-4">
                                <img src="{% static 'images_and_videos/riyadh/leap.png' %}"
                                    class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                            </div>
    
                            <!-- النص -->
                            <div class="col-md-8 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">ليب 2026</h5>
                                    <p class="card-text">
                                    يُعد مؤتمر LEAP من أكبر المؤتمرات التقنية في الرياض، حيث يجمع نخبة من الخبراء والشركات العالمية في مجالات التقنية
                                    والابتكار. يهدف المؤتمر إلى استعراض أحدث التطورات في الذكاء الاصطناعي، والتحول الرقمي، والتقنيات المستقبلية، إضافةً إلى
                                    توفير فرص استثمارية وشراكات استراتيجية. ويأتي تنظيمه ضمن جهود رؤية السعودية 2030 لتعزيز مكانة المملكة العربية السعودية
                                    كمركز عالمي للتقنية والابتكار.
                                    </p>
                                </div>
    
                                <div class="card-footer mt-auto">
                                    <small class="text-body-secondary">
                                        يُقام من 13 إلى 16 أبريل في مركز الرياض للمعارض والمؤتمرات
                                    </small>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- card 2 -->
            <div class="col-12">
                <div class="card-wrapper2 h-100">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
    
                            <div class="col-md-4">
                                <img src="{% static 'images_and_videos/riyadh/aquarabia.png' %}"
                                    class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                            </div>
    
                            <div class="col-md-8 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">أكوارابيا</h5>
                                    <p class="card-text">
                                        تُعد أكوارابيا واحدة من أكبر المدن المائية في الرياض، وتقع ضمن مشروع القدية الترفيهي الضخم. تم تصميمها لتكون وجهة مثالية
                                        لعشاق المغامرة والترفيه، حيث تضم مجموعة كبيرة من الألعاب المائية والمنزلقات العالمية التي تناسب مختلف الأعمار.
                                    </p>
                                </div>
    
                                <div class="card-footer mt-auto">
                                    <small class="text-body-secondary">
                                        من المقرر افتتاحها في 23 أبريل 2026
                                    </small>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- card 3 -->
            <div class="col-12">
                <div class="card-wrapper2 h-100">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
    
                            <div class="col-md-4">
                                <img src="{% static 'images_and_videos/riyadh/riyadh_season.png' %}"
                                    class="img-fluid w-100 h-100 object-fit-cover rounded-end" alt="">
                            </div>
    
                            <div class="col-md-8 d-flex flex-column">
                                <div class="card-body">
                                    <h5 class="card-title">موسم الرياض</h5>
                                    <p class="card-text">
                                        يُعد موسم الرياض من أكبر الفعاليات الترفيهية في الرياض، حيث يجذب ملايين الزوار سنويًا بفضل تنوع فعالياته وعروضه
                                        العالمية.
                                        يضم الموسم مناطق ترفيهية مميزة وحفلات ومهرجانات وتجارب ثقافية تناسب جميع الأعمار.
                                        ويأتي ضمن مبادرات رؤية السعودية 2030 لتعزيز السياحة وتحسين جودة الحياة في المملكة العربية السعودية.
                                    </p>
                                </div>
    
                                <div class="card-footer mt-auto">
                                    <small class="text-body-secondary">
                                        حتى الآن لم يعلن رسميًا عن موعد النسخة القادمة
                                    </small>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
{% endblock %}