.games-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.game-card{
    background: #6e5034;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(172, 134, 107);

}

.game-card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.game-content{
    padding: 0.8rem;
    text-align: center;
}

.game-content h2{
    color: #E1D9BC;
  font-size: 15px;
}

.game-content p{
    margin-top: 0.5rem;
  font-size: 12px;
  color: #FFFDEB;
}


.game-card:hover{
  transform: scale(1.09) rotate(-1deg);
}

@media (max-width: 750px) {

 

    .game-content h2 {
        font-size: 14px;
    }

    .game-content p {
        font-size: 11px;
    }
}