.games-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.game-card{
    background: #f5f5f0;
    border: 2px solid #2F6B3F;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.game-card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.game-content{
    padding: 0.8rem;
    text-align: center;
}

.game-content h2{
  font-size: 15px;
}

.game-content p{
    margin-top: 0.5rem;
  font-size: 12px;
  color: #666666;
}


.game-card:hover{
  transform: scale(1.08) rotate(-1deg);
}

@media (max-width: 750px) {

    .games-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .game-content h2 {
        font-size: 14px;
    }

    .game-content p {
        font-size: 11px;
    }
}