
.food-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}


.food-card{
  background: #6e5034;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgb(172, 134, 107);
}

.food-card img{
  width: 200px;
  aspect-ratio: 1 / 1;  
  object-fit: cover;
}
.food-content{
  padding: 0.8rem;
}

.food-content h2{
  font-weight: bold;
  color: #E1D9BC;
  font-size: 16px;
}

.food-content p{
  margin-top: 0.2rem;
  color: #FFFDEB;
  font-size: 12px;
}
.food-card:hover{
  transform: translateY(-20px);
}

